certifi==2025.1.31
charset-normalizer==3.4.1
docutils==0.21.2
filetype==1.2.0
idna==3.10
Kivy==2.3.1
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
Kivy-Garden==0.1.5
kivy_deps.sdl2==0.8.0
kivymd==1.2.0
libusb1==3.3.1
ndeflib==0.3.3
nfcpy==1.0.4
pillow==11.2.1
plyer==2.1.0
pyDes==2.0.1
Pygments==2.19.1
pypiwin32==223
pyserial==3.5
pywin32==310
requests==2.32.3
urllib3==2.4.0
pyjnius==1.4.0